/* GLOBAL */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li {
    list-style-type: none;
}
/* UTILS */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-bold {
    font-weight: bold;
}
.divider {
    margin-inline: 3rem;
}

/* SECTION HEADER */
header > .title-main > .container {
    /* position */
    height: 5rem;
    padding-top: 1rem;
    margin: 2rem 3rem;
    border-radius: 0.5rem 0.5rem 0 0;

    /* props */
    background: rgb(218, 218, 218);
}

/* SECTION ROUTER */
.section-router {
    margin: 2rem 3rem;
    display: grid;
    grid-template-columns: 5.5fr 1fr 5.5fr;
}
.section-router > .router > .router-content {
    background-color: rgb(248, 248, 248);
}
.endpoints-item {
    padding: 0.5rem;
}
.endpoints-item:hover {
    cursor: pointer;
    color: firebrick;
    background-color:rgb(241, 241, 241);
}

.fetch > .fetch-form {
    margin-top: 1rem;
}